<script setup lang="ts">
const props = defineProps({
    fontSize: {
        type: String,
        default: '1em'
    }
})
</script>

<template>
    <div class="row justify-center q-my-lg text-white">
        <q-btn outline dark style="flex:0 1 512px" :style="{ fontSize: props.fontSize}">
            <slot name="content"></slot>
        </q-btn>
    </div>
</template>
