<template>
    <q-card bordered class="dialog-box full-width">
        <q-card-section>
            <div class="row q-mb-md">
                <div class="col">
                    <slot name="name-tag"></slot>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <slot name="dialog-text"></slot>
                </div>
            </div>
        </q-card-section>
    </q-card>
</template>

<style scoped>
.dialog-box {
    min-height: 20vh;
    max-width: 1440px;
    background-color: black;
    justify-items: center;
    display: flex;
    overflow: auto;
    border: 4px solid white;
    z-index:7000;
}
</style>
