<template>
    <q-header bordered class="bg-primary text-white">
        <q-toolbar>
            <q-toolbar-title>
                there is no save data yet, so do not refresh to avoid loss data
            </q-toolbar-title>

            <q-btn dense flat round icon="menu" @click="$emit('toogleDrawer')" />
        </q-toolbar>
    </q-header>
</template>
