<script setup lang="ts">
import { toRef } from 'vue'

const props = defineProps({
    toggleDrawer: {
        type: Boolean,
        required: true
    }
})

const showDrawer = toRef(props, 'toggleDrawer')
</script>

<template>
    <q-drawer v-model="showDrawer" side="right" overlay behavior="desktop" elevated>
        <!-- DRAWER CONTENT -->
    </q-drawer>
</template>
