<script setup lang="ts">
const props = defineProps({
    show: {
        type: Boolean,
        required: true
    }
})
</script>

<template>
    <q-dialog :model-value="props.show" persistent>
        <q-card style="min-width: 50%">
            <slot name="content"></slot>
        </q-card>
    </q-dialog>
</template>
