// app global css in SCSS form
$header-height: 50px;

.header-page {
    height: $header-height;
}

.game-content-container {
    margin-top: $header-height + 8px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}