<template>
    <q-page class="column">
        <div class="row text-white justify-center q-mt-lg">
            <router-link :to="{ name: 'game.menu' }">
                <q-btn push color="primary" label="MENU" />
            </router-link>
        </div>
        <div class="row fit items-center" style="flex:1">
            <div class="col text-center text-white text-h6s">
                <p>This would be a TOUHOU PROJECT derivate work.</p>
                <p>TOUHOU PROJECT belong to TEAM SHANGHAI ALICE.</p>
            </div>
        </div>
    </q-page>
</template>
