<script setup lang="ts">
import PersistentModal from 'src/components/game/PersistentModal.vue'
import Languages from 'src/assets/game/config/language.json'
import Genders from 'src/assets/game/config/gender.json'
import { ref } from 'vue'
import { useGameGlobalStore } from 'src/stores/game/global'
import { useGamePlayerStore } from 'src/stores/game/player'
import { useRouter } from 'vue-router'

interface SelectOptions {
    value: number,
    label: string,
}

const router = useRouter()
const gameStore = useGameGlobalStore()
const playerStore = useGamePlayerStore()

const showLangModal = ref<boolean>(true)
const showNameModal = ref<boolean>(false)
const showGenderModal = ref<boolean>(false)
const showConfirmationModal = ref<boolean>(false)

const selectedLanguage = ref<number>(0)
const languages = ref<Array<SelectOptions>>(Languages)

const playerName = ref<string>('')
const isValidName = ref<boolean>(true)

const selectedGender = ref<number>(0)
const genders = ref<Array<SelectOptions>>(Genders)

function languageConfirmed() {
    gameStore.setLanguage(selectedLanguage.value)
    showLangModal.value = false
    showNameModal.value = true
}

function nameConfirmed() {
    if (playerName.value.trim().length > 0) {
        playerStore.setPlayerName(playerName.value)
        showNameModal.value = false
        showGenderModal.value = true
    } else {
        isValidName.value = false
    }
}

function genderConfirmed() {
    playerStore.setPlayerGender(selectedGender.value)
    showGenderModal.value = false
    showConfirmationModal.value = true
}

function cancelPlayerBio() {
    showConfirmationModal.value = false
    showLangModal.value = true
}

function confirmPlayerBio() {
    showConfirmationModal.value = false
    router.push({ name: 'game.start' })
}
</script>

<template>
    <persistent-modal :show="showLangModal">
        <template #content>
            <q-card-section>
                <div class="row">
                    <div class="col">
                        What is your Language Preferences? (No translation for now)
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <q-select outlined v-model="selectedLanguage" :options="languages" emit-value map-options />
                    </div>
                </div>
            </q-card-section>

            <q-card-actions align="center">
                <q-btn push color="primary" @click="languageConfirmed">Confirm</q-btn>
            </q-card-actions>
        </template>
    </persistent-modal>

    <persistent-modal :show="showNameModal">
        <template #content>
            <q-card-section>
                <div class="row">
                    <div class="col">
                        What is your name?
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <q-input outlined v-model="playerName" :rules="[val => !!val || 'Name must be filled']"
                            :error="!isValidName" error-message="Name must be filled" />
                    </div>
                </div>
            </q-card-section>

            <q-card-actions align="center">
                <q-btn push color="primary" @click="nameConfirmed">Confirm</q-btn>
            </q-card-actions>
        </template>
    </persistent-modal>

    <persistent-modal :show="showGenderModal">
        <template #content>
            <q-card-section>
                <div class="row">
                    <div class="col">
                        What is your gender?
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <q-select outlined v-model="selectedGender" :options="genders" emit-value map-options />
                    </div>
                </div>
            </q-card-section>

            <q-card-actions align="center">
                <q-btn push color="primary" @click="genderConfirmed">Confirm</q-btn>
            </q-card-actions>
        </template>
    </persistent-modal>

    <persistent-modal :show="showConfirmationModal">
        <template #content>
            <q-card-section>
                <div class="row">
                    Language
                </div>
                <div class="row">
                    {{ gameStore.getLanguageText }}
                </div>

                <div class="row q-mt-sm">
                    Name
                </div>
                <div class="row">
                    {{ playerStore.getPlayerName }}
                </div>

                <div class="row q-mt-sm">
                    Gender
                </div>
                <div class="row">
                    {{ playerStore.getPlayerGenderText }}
                </div>
            </q-card-section>

            <q-card-actions align="center">
                <q-btn push color="secondary" @click="cancelPlayerBio">Cancel</q-btn>
                <q-btn push color="primary" @click="confirmPlayerBio">Confirm</q-btn>
            </q-card-actions>
        </template>
    </persistent-modal>
</template>
