<script setup lang="ts">
import ChoiceBox from 'src/components/game/ChoiceBox.vue'
import { useRouter } from 'vue-router'

const router = useRouter()

const choices = [
    { key: 0, text: 'Start', fontSize: '2em', action: 'goToStart' },
    { key: 1, text: 'About', fontSize: '2em', action: 'goToAbout' }
]

const choiceClickFunction = (action: string) => {
    switch (action) {
        case 'goToStart':
            router.push({ name: 'game.intro' })
            break

        case 'goToAbout':
            router.push({ name: 'game.about' })
            break

        default:
            break
    }
}
</script>

<template>
    <q-page-container class="row full-width justify-center">
        <q-page class="row full-height items-center">
            <div class="col justify-center">
                <choice-box v-for="choice in choices" :key="choice.key" :font-size="choice.fontSize"
                    @click="() => choiceClickFunction(choice.action)">
                    <template v-slot:content>
                        {{ choice.text }}
                    </template>
                </choice-box>
            </div>
        </q-page>
    </q-page-container>
</template>

<style scoped>
.q-page {
    flex: 0 1 1024px;
    color: white
}
</style>
