<script setup lang="ts">
import Prologue from 'src/assets/game/stories/prologue.json'
import ChoiceBox from 'src/components/game/ChoiceBox.vue'
import DialogBox from 'src/components/game/DialogBox.vue'
import useStringHelper from 'src/helper/StringHelper'

import { useGamePlayerStore } from 'src/stores/game/player'
import { onMounted, ref } from 'vue'

const {
    animatingShowText,
    forceCompleteText,
    replaceAllParam,
    replacePlayerParam
} = useStringHelper()
const playerStore = useGamePlayerStore()

const finishedFlag = ref<boolean>(false)
const optionPicked = ref<boolean>(true)
const dialogIndex = ref<number>(0)
const textDialog = ref<string>('')

onMounted(() => {
    const text = replaceAllParam(Prologue[dialogIndex.value].text, playerStore.getPlayerName,
        playerStore.getPlayerGenderId)

    animatingShowText(text, textDialog, finishedFlag)
})

function handleDialogBoxClick() {
    let text

    if (!finishedFlag.value) {
        text = replaceAllParam(Prologue[dialogIndex.value].text, playerStore.getPlayerName,
            playerStore.getPlayerGenderId)

        forceCompleteText(text, textDialog, finishedFlag)
    } else {
        if (Prologue[dialogIndex.value]) {
            if (Prologue[dialogIndex.value].choices?.length) {
                optionPicked.value = false
            }
        }

        if (Prologue.length - 1 > dialogIndex.value && optionPicked.value) {
            dialogIndex.value++
            text = replaceAllParam(Prologue[dialogIndex.value].text, playerStore.getPlayerName,
                playerStore.getPlayerGenderId)
            textDialog.value = ''
            animatingShowText(text, textDialog, finishedFlag)
        } else if (Prologue.length - 1 === dialogIndex.value || !optionPicked.value) {
            text = replaceAllParam(Prologue[dialogIndex.value].text, playerStore.getPlayerName,
                playerStore.getPlayerGenderId)

            forceCompleteText(text, textDialog, finishedFlag)
        }
        console.log(Prologue[dialogIndex.value], dialogIndex.value)
    }
}
</script>

<template>
    <div class="choice-box-container">
        <template v-for="choice in Prologue[dialogIndex].choices" :key="choice.text">
            <div v-if="finishedFlag">
                <choice-box>
                    <template #content>
                        {{ choice.text }}
                    </template>
                </choice-box>
            </div>
        </template>
        <!-- <choice-box>
            <template #content>
                LOL
            </template>
        </choice-box>

        <choice-box>
            <template #content>
                LOL 2
            </template>
        </choice-box> -->
    </div>

    <div class="row full-width">
        <dialog-box @click="handleDialogBoxClick">
            <template #name-tag>
                <span class="text-white text-bold">{{
                    replacePlayerParam(Prologue[dialogIndex].name, playerStore.getPlayerName)
                }}</span>
            </template>

            <template #dialog-text>
                <span class="text-white">{{ textDialog }}</span>
            </template>
        </dialog-box>
    </div>
</template>

<style scoped>
.choice-box-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
</style>
