<script setup>
import { ref } from 'vue'

import GameHeader from 'src/components/game/GameHeader.vue'
import GameSidebar from 'src/components/game/GameSidebar.vue'

const rightDrawerOpen = ref(false)

function toggleRightDrawer() {
    rightDrawerOpen.value = !rightDrawerOpen.value
}
</script>

<template>
    <q-layout view="hHh lpr ffr" class="column">
        <game-header @toogle-drawer="() => toggleRightDrawer()" />
        <game-sidebar :toggle-drawer="rightDrawerOpen" />

        <div class="game-content-container">
            <div class="game-content-wrapper">
                <router-view />
            </div>
        </div>
    </q-layout>
</template>

<style scoped>
.q-layout {
    background-color: black;
}

.q-page-container {
    max-width: 1024px;
}
</style>
